<div class="card-container">
<mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        <h2 class="title">Über uns </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="subtitle">
      <p>
        Willkommen bei unserer Kindergarten-Webseite! Hier finden Sie alle Informationen über unseren Kindergarten und unser Team.
      </p>
      <p>
        Unser Kindergarten liegt im Herzen der Stadt und bietet eine sichere und liebevolle Umgebung für Ihre Kinder.
      </p>
      <p>
        Wir legen großen Wert auf eine pädagogisch wertvolle Betreuung und fördern die individuelle Entwicklung jedes Kindes.
      </p>
      <p>
        Bei Fragen oder für weitere Informationen stehen wir Ihnen gerne zur Verfügung.
      </p>
    </mat-card-content>
  </mat-card>
</div>
  
  
